# Google OAuth
NEXTAUTH_SECRET="replace-with-a-random-secret"
GOOGLE_CLIENT_ID="replace-with-google-client-id"
GOOGLE_CLIENT_SECRET="replace-with-google-client-secret"

# PosgreSQL
DATABASE_URL="postgresql://username:password@host:port/database"

# OpenAI
OPENAI_API_KEY="replace-with-openai-api-key"
OPENAI_JOB_EXTRACTION_MODEL="gpt-5-mini"
RETRY_ATTEMPTS_TO_GENERATE_LATEX_FROM_PDF="3"
RETRY_ATTEMPTS_TO_GENERATE_LATEX_EDITS="3"
TEST_OPENAI_RESPONSE="false"

# Ingestion
JOB_HELPER_INGEST_SECRET="replace-with-a-long-random-secret"

# Debugging
DEBUG_UI="false"
TYPING_SPEED_ANIMTION="180"
TYPING_SPEED_ANIMATION_WORD_PAUSE_MS="20" # additional pause above character-spacing
TYPING_SPEED_ANIMATION_SENTENCE_PAUSE_MS="250" # additional pause between sentences
